/* Estilos generales */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

/*.content {
    flex: 1;
    margin-bottom: 50px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}*/

.content {
    flex: 1;
    margin-top: 100px;
    margin-bottom: 50px;
}

nav {

    margin-bottom: 40px;
}


/* Estilos index y carrusel*/
.titulos {
    font-style: italic;
    text-align: center;
    margin: 26px
}

#carouselExampleCaptions {
    max-width: 1000px;
    margin: auto;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

h5 {
    background-color: rgba(0, 0, 0, 0.644);
    display: inline-block;
    border-radius: 10px;
    padding: 6px;
}

.navbar-nav {
    padding-right: 8px;
    margin-bottom: 18px;

}

/* Estilos quiénes somos */
.cargos,
.nombres {
    text-align: center;
    /* Centra el texto */
}

#separator {
    margin: 24px 0px 24px 0px;
}

.cargos {
    margin-top: 28px;
    margin-bottom: 10px;
    font-style: italic;
}

/* Estilos para los títulos de los planes */
.card-title {
    background-color: transparent;
    /* Quita el color de fondo */
}


/* Estilo Noticia*/

.titular {
    color: black;
    font-size: 35px;
    font-weight: bold;

}

.sub {
    color: black;
    font-weight: bold;
}

.noticia {
    margin-bottom: 50px;
    margin-top: 120px;
    text-align: left;
}

/* Estilos footer */
.footer {

    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: x-small;
}

/* Estilo API Clima */

.api-clima {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 25%;
    margin: 1rem auto;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);


}

/*Mapa*/

#map {
    height: 180px;
}

.navbar-shrink {
    background-color: #fff; /* Cambiar al color deseado */
    box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Sombra ligera para mejor visibilidad */
    padding: 5px 0; /* Reducir padding */
    transition: all 0.5s; /* Transición suave */
  }